body {
  margin: 0;
  padding: 0;
}
@mixin gridpos($span, $row, $horizontal, $vertical) {
  grid-column-end: span $span;
  grid-row: $row;
  display: flex;
  justify-content: $horizontal;
  align-items: $vertical;
  background: svar(bgc);
  padding: 5px 10px;
}
@mixin border($top, $topStyle, $bottom, $bottomStyle) {
  border-top: $top $topStyle svar(c1);
  border-bottom: $bottom $bottomStyle svar(c1);
}
@function svar($variablename) {
  @return var(--#{$variablename});
}

.myPokeParty {
  // variables defined
  --bgc: rgba(255,255,255,.7);
  // container styling
  font-size: 11px;
  font-family: monospace;
  background: rgba(215,215,215,.7);
  width: calc(100% - 20px);
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid darkgray;
  margin: 30px 10px 10px 10px;
  position: relative;

  &::before {
    display: block;
    position: absolute;
    z-index: 5;
    top: -25px;
    left: 5px;
    font-size: 1.8em;
    content: attr(data-title);
  }

  // all things poke!
  .poke {
    &_mons {
        overflow-x: auto;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(12, 70px);
        grid-template-rows: repeat(4,max-content);
        grid-column-gap: 10px;
        grid-auto-flow: column;
    }

    &-01 {
      --c1: #4656a8;
      grid-column-start: 1;
    }

    &_held {
      @include gridpos(2,1, space-around, center);
      @include border(20px, solid, 0, none);
    }

&_hidden {
  display: none;
}
    &_ball,
    &_item {
      max-width: 100%;
    }

    &_img {
      @include gridpos(2,2, center, end);

      img {
        max-width: 100%;
      }
    }

    &_who {
      @include gridpos(2,3, center, center);
      @include border (0, none, 2px, dotted);
      text-align: center;
      flex-direction: column;
    }

    &_name {
      font-weight: bold;
      font-size: 1.1em;
    }

    &_species {
      text-transform: uppercase;
      font-size: 0.9em;
    }

    &_stats {
      @include gridpos(2,5, space-between, start);
    }

    &_skills {
      flex: 1;
      a {
        text-decoration: none;
        color: black;
        display: block;
        opacity: 0.9;

        margin: 2px 0;
        transition: 0.3s;

        &:hover {
          opacity: 1;
          border-left-width: 10px;
        }
      }
    }

    &_ability {
      font-style: italic;
      font-weight: bold;
      border-left: 0 solid rgba(0,0,0,0);
      padding: 1px 0 1px;
    }

    &_move {
      --moveType: #4656a8;
      border-left: 4px solid svar(moveType);
      padding: 1px 0 1px 4px;
    }

    &_about {
      text-align: center;
      line-height: calc(1em + 5px);
      margin: 2px 0;
    }
  }
}
